.container.about-container#about
    .row
        .col-12
            h3.title.text-left.section-title.section-title-about.text-center Who I am
        span.section-division
        .col-12.col-md-6.col-lg-3
                img.part(src='/images/Profile.jpg' alt='' width='100%' height='100%')


        
        .col-12.col-md-6.col-lg-4
            h3 I am a Final Year Engineering Student from 
                span Sardar Patel Institute of Technology 
               

        .col-12.col-md-12.col-lg-5
            p I have worked on projects across various domains like Web Development, Software Development, Data Analysis and Computer Vision. 
            p I have gained significant experience in industry world with internships in 
                span Tata Consultancy Services as a Software Developer 
                |and 
                span as a Full Stack Developer at Bitgenie Research
        span.section-division    

// p Being also an artist, I love the creative possibilities found in coding web applications which allows me to combine my passion for graphics and art with modern technologies.
//                     img(src='/images/20200313_190023-e1584106310499-600x692.jpg' alt='' width='255' height='320')
        