  
.container-fluid.text-center.social-icons-container#links
    p.mail Parth.shingala@spit.ac.in
    each icon in helpers.socialIcons
        a(href=`${icon.href}` target="_blank" rel="noopener")
            i(class=`fa ${icon.faIcon}` aria-hidden="true")
    
    